* {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#ToDoList {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Demo {
  color: #545862;
  border: none;
  width: 93%;
  height: 3rem;
  text-indent: 10px;
}

#Demo[type="text"]:focus {
  outline: none;
}

i {
  cursor: pointer;
}

#addItem {
  border: none;
  font-style: italic;
  width: 91%;
  height: 3rem;
  text-indent: 10px;
}

#addItem[type="text"]:focus {
  outline: none;
}

#addItem[type="text"]::placeholder {
  text-indent: 10px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  gap: 15px;
  transition: 300ms ease;
}

.listItem:hover {
  background-color: lightblue;
}

.inputList {
  border: none;
}

.inputList[type="text"]:focus {
  outline: none;
}

.checkbox:checked ~ .taskDiv {
  text-decoration: line-through;
}

.taskDiv {
  padding-right: 15rem;
  width: 50%;
  border: none;
  outline: none;
}

.checkbox:checked ~ .listItem {
  text-decoration: line-through;
}

.dotsDiv {
  padding-right: 1rem;
  border: none;
}

#clearButton {
  width: 100%;
  height: 3rem;
  border: none;
  cursor: pointer;
  background: lightgray;
  color: #545862;
}

#clearButton:hover {
  text-decoration: underline;
  background-color: lightslategray;
  color: #000;
}
